<body class="workoutbody">
	<div class="container">
		<h3 class="workoutheading">Workouts</h3>
			<div class="customerbookingtext">
				<% @workouts.each do |workout| %>

		  			<li class="workoutlist">
		  				<%= workout.type %>
		  			</li>

		  			<li class="workoutlist">
		  				<%= workout.description %>
		  			</li>

		  			<li class="workoutlist">
		  				<%= workout.date %>
		  			</li>


						<li class="workoutlist">
		  				<button class="btn btn-dark"><%= link_to 'Show Details', workout_path(workout) , class:"buttontext" %></button>
						</li>

					<%= form_with scope: :workout, model: workout, local: true  do |form| %>
 <p>Confirm delete workout? </p>
  <p>
  	<%= submit_tag "Delete Workout" %>
  </p>
<% end %>-->
				<% end %>

			</div>
	</div>
	<%= button_to "Add workouts", new_workout_path, method: :get, class: "btn btn-dark" %>
</body>