<body class="workoutbody">
	<div class="container">
		<h3 class="workoutheading">Workouts</h3>


			<div class="customerbookingtext">

				<% @workouts.each do |workout| %>



		  			<li class="workoutlist">
		  			Type:
		  				<%= workout.workout_category.description %>
		  			</li>



		  			<li class="workoutlist">
		  			Description:
		  				<%= workout.description %>
		  			</li>

		  			<li class="workoutlist">
		  				Date:
		  				<%= workout.date %>
		  			</li>


						<li class="workoutlist">
		  				<button class="btn btn-white"><%= link_to 'Show Details', workout_path(workout) , class:"buttontext" %></button>
						</li>

				<% end %>

			</div>
	</div>
	<%= button_to "Add workouts", new_workout_path, method: :get, class: "btn btn-dark" %>
</body>