<body class="workoutnewbody">
	<div class="container">

<h1 class="workoutnewheading">Enter Exercises</h1>
<div class="workouteditform">

<%= form_with scope: :workout, url: workouts_path, local: true do |form| %>
  <p>
    <strong><%= form.label :type %></strong><br>
    <%= form.text_field :type %>
  </p>

  <p>
    <strong><%= form.label :description %></strong><br>
    <%= form.text_area :description %>
  </p>


	<p>
	  <%= form.submit class: "btn btn-dark"%>
	</p>

<% end %>
</div>
<div class ="backbutton">
<%= button_to 'Back', home_path , method: :get, class:"btn btn-dark btn-lg" %>
</div>
</div>
</body>