
<div class="container" >

<div class="homepagetext">
<strong>
		<h1> Welcome
			<%= @name %>
		</h1>
</strong>

</div>

<div class="homepagetext">

		<h3>
			<%= @date %>

		</h3>
</div>

<div class="images">

	<div class="image1">

			<%= link_to href ='/meals' do %>

			<%= image_tag 'meals.png' ,width: 250, height: 250%>
			<% end %>

	</div>

	<div class='image2'>

			<%= link_to href ='/workouts' do %>

			<%= image_tag 'exercise.png',width: 250, height: 250%>

<% end %>
	</div>


	<div class ='image3'>
			<%= link_to href ='/tips' do %>

			<%= image_tag 'notes.png',width: 220, height: 220 %>


<% end %>

</div>

</div>


</div>