


<h1> Welcome
	<%= @name %>

	</h1>


<h2> Today's date :
	<%= @date %>

</h2>



<%= link_to href ='/meals' do %>

<%= image_tag 'meals.png' ,width: 250, height: 250%>
<% end %>




<%= link_to href ='/workouts' do %>

<%= image_tag 'workout.jpg',width: 250, height: 250%>

<% end %>





<%= link_to href ='/tips' do %>

<%= image_tag 'tips.jpg',width: 300, height: 300 %>

<% end %>


<%= javascript_pack_tag 'hello_react' %>