<body class="profileeditbody">
	<div class="container">
<h2 class="profileeditheading">


<strong>Edit Profile</strong>


</h2>
<div class="customereditform">
<%= form_with scope: :user, model: @user, local: true do |form| %>

  <p>
    <strong><%= form.label :name %><br></strong>
    <%= form.text_field :name %>
  </p>

  <p>
    <strong><%= form.label :height %><br></strong>
    <%= form.text_field :height %>
  </p>

  <p>
    <strong><%= form.label :weight %><br></strong>
    <%= form.text_field :weight %>
  </p>

  <p>
    <%= form.submit class: "btn btn-dark"%>
  </p>

<% end %>
</div>
<div class ="backbutton">
<%= button_to 'Back', home_path , method: :get, class:"btn btn-dark" %>
</div>
</div>
</body>