<body class="userbody">
	<div class = "container">

	<div class = "profilebody">




		<h2 class="biometrictext">

		  <strong>Biometrics</strong>

		 </h2>

		<p class="usertext">


		  <strong>Name:</strong>

		  <%= @user.name.capitalize %>

		</p>

		<p class="usertext">
		  <strong>Height</strong>
		    <%= @user.height.to_s + "cm" %>
		</p>

		<p class="usertext">
		  <strong>Weight:</strong>
		    <%= @user.weight.to_s + "kg" %>
		</p>



		<p class="usertext">
		  <strong>Body Mass Index:</strong>
		  <%=@bmi %>
		</p>


		<p class="usertext">
		  <strong>Daily Protein Intake:</strong>
		  <%=@protein.to_s + "g"%>
		</p>


		<p class="usertext">
		  <strong>Updated as of: </strong>


		  <%=@updateddate.strftime("%m/%d/%Y")  %>
		</p>



		<button class="btn btn-dark"><%= link_to 'Edit', update_profile_path , class:"buttontext" %></button>


					<div class ="backbutton">
			<%= button_to 'Back', home_path , method: :get, class:"btn btn-dark" %>
			</div>



	</div>
</body>