<body class="customereditbody">
	<div class="container">
<h1 class="customereditheading">Edit Meal</h1>
<div class="customereditform">
<%= form_with scope: :meal, model: @meal, local: true do |form| %>

   <p>
    <strong><%= form.label :type %><br></strong>
    <%= form.collection_select :meal_category_id, @meal_categories, :id, :description %>
  </p>

  <p>
    <strong><%= form.label :description %><br></strong>
    <%= form.text_area :description %>
  </p>

  <p>
    <strong><%= form.label :calories %><br></strong>
    <%= form.number_field :calories %>
  </p>

  <p>
    <strong><%= form.label :date %><br></strong>
    <%= form.date_field :date %>
  </p>
  <p>
    <%= form.submit class: "btn btn-dark"%>
  </p>

<% end %>
</div>
<div class ="backbutton">
<%= button_to 'Back', meal_path , method: :get, class:"btn btn-dark btn-lg" %>
</div>
</div>
</body>