<body class="mealbody">
	<div class="container">

		<h3 class="mealheading">Meals</h3>
		<%= button_to "Add meals", new_meal_path, method: :get, class: "btn btn-dark" %>
			<div class="mealtext">

				<% current_meals_per_date = @meals[0].date %>
				<% calories_daily_total = 0 %>

				<% @meals.each do |meal| %>


				<% if current_meals_per_date != meal.date %>

					Calories Total: <%= calories_daily_total %>

					<% calories_daily_total = 0 %>

					<% current_meals_per_date = meal.date %>

				<%end %>

					<% calories_daily_total = meal.calories + calories_daily_total %>




		  			<p class="meallist">
		  				 <strong>Type:</strong>
		  				<%= meal.meal_category.description.capitalize %>
		  			</p>

		  			<p class="meallist">
		  				<strong>Description: </strong>
		  				<%= meal.description %>
		  			</p>

		  			<p class="meallist">
		  				<strong>Date: </strong>
		  				<%= meal.date %>
		  			</p>

		  			<p class="meallist">
		  				<strong>Calories:</strong>
		  				<%= meal.calories %>
		  			</p>




						<p class="meallist">
		  				<button class="btn btn-white"><%= link_to 'Details', meal_path(meal) , class:"buttontext" %></button>
						</p>


				<% end %>
				<strong>
					Calories Total: <%= calories_daily_total %>
				</strong>
			</div>

	</div>

</body>