<body class="mealbody">
	<div class="container">

		<h3 class="mealheading">Meals List</h3>
		<%= button_to "Add meals", new_meal_path, method: :get, class: "btn btn-dark" %>
			<div class="mealtext">

				<% current_meals_per_date = @meals[0].date %>
				<% calories_daily_total = 0 %>




				<% @meals.each do |meal| %>


				<% if current_meals_per_date != meal.date %>

					Calories Total: <%= calories_daily_total %>

					<% calories_daily_total = 0 %>

					<% current_meals_per_date = meal.date %>

				<%end %>

					<% calories_daily_total = meal.calories + calories_daily_total %>


										<table class="table table-dark">

	<thead>
    <tr>

      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">calories</th>
      <th scope="col">details</th>

    </tr>
  </thead>


  <tbody>
    <tr>

			<td><%= meal.meal_category.description.capitalize %></td>
      <td><%= meal.description %></td>
      <td><%= meal.date %></td>
      <td><%= meal.calories %></td>
      <td><button class="buttontextmeal"><%= link_to 'Details', meal_path(meal) , class:"btn btn-white" %></button></td>
    </tr>

  </tbody>
</table>



						</p>


				<% end %>
				<p>
					Calories Total: <%= calories_daily_total %>
				</p>
			</div>

	</div>

</body>