<body class="mealsbody">
	<div class = "container">
	<div class=" jumbotron customerbody" >
		<p class="mealtext">

		  <strong>Type:</strong>

		  <%= @mealtype.capitalize %>

		</p>

		<p class="mealtext">
		  <strong>Description:</strong>
		  <%= @meal.description.capitalize %>
		</p>

		<p class="mealtext">
		  <strong>Calories: </strong>
		  <%= @meal.calories %>
		</p>

		<p class="mealtext">
		  <strong>Date: </strong>
		  <%= @meal.date %>
		</p>


		<br/>
		<div class ="mealprofilebutton">
		<div class ="row-md">


		<div class ="column-md , profilesubbutton">


		<button class="btn btn-dark"><%= link_to 'Edit', update_meal_path , class:"buttontext" %></button>



		<button class="btn btn-dark"><%= link_to 'Home', home_path , class:"buttontext" %></button>

		<button class="btn btn-dark"><%= link_to 'Back', meals_path , class:"buttontext" %></button>



		<button class="btn btn-dark"><%= link_to 'destroy', meal_path,
		        method: :delete,
		        data: { confirm: 'Are you sure?' }  , class:"buttontext" %></button>

	</div>
	</div>
	</div>
	</div>
	</div>
</body>