<body class="tipeditbody">
	<div class="container">
<h1 class="tipeditheading">Edit Tip</h1>
<div class="workouteditform">
<%= form_with scope: :tip, model: @tip, local: true do |form| %>


  <p>
    <strong><%= form.label :description %><br></strong>
    <%= form.text_area :description %>
  </p>



  <p>
    <%= form.submit class: "btn btn-dark"%>
  </p>

<% end %>
</div>
<div class ="backbutton">
<%= button_to 'Back', tip_path , method: :get, class:"btn btn-dark" %>
</div>
</div>
</body>