<body class="mealnewbody">
	<div class="container">

<h1 class="tipnewheading">Add New Tip</h1>
<div class="tipnewform">

<%= form_with scope: :tip, url: tips_path, local: true do |form| %>


  <p>
    <strong><%= form.label :Tip %></strong><br>
    <%= form.text_area :description %>
  </p>


	<p>
	  <%= form.submit class: "btn btn-dark"%>
	</p>

<% end %>
</div>
<div class ="backbutton">
<%= button_to 'Back', tips_path , method: :get, class:"btn btn-dark" %>
</div>
</div>
</body>