<body class="mealnewbody">
	<div class = "container">

		<p class="tiptext">



		<p class="tiptext">
		  <strong>Description:</strong>
		  <%= @tip.description %>
		</p>





		<div class ="column-md , profilesubbutton">


		<button class="btn btn-dark"><%= link_to 'Edit', update_tip_path , class:"buttontext" %></button>



		<button class="btn btn-dark"><%= link_to 'Home', home_path , class:"buttontext" %></button>

		<button class="btn btn-dark"><%= link_to 'Back', tips_path , class:"buttontext" %></button>



		<button class="btn btn-dark"><%= link_to 'Delete', tip_path,
		        method: :delete,
		        data: { confirm: 'Are you sure?' }  , class:"buttontext" %></button>

	</div>
	</div>
	</div>
	</div>
	</div>
</body>